<meta charset=UTF-8>
<head>
	
	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery-3.2.1.slim.min.js" ></script>
	<script src="/js/popper.min.js" ></script>
	<script src="/js/bootstrap.min.js" ></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
	
		*{
			font-family: 'Lato', sans-serif;
		}
		
	</style>
	<title>Aitor Fortuna Girón - Desarrollador de Aplicaciones Web</title>
</head>